<div class="jumbotron">
    <h1>Team Talk</h1>
    <p class="lead">Team talk is the best communicator ever. Period.</p>
    <p><a href="@ViewBag.Link">Run Team Talk as Antek: @ViewBag.Link</a></p>
    <p><a href="@ViewBag.Link_javaAdmin">Run Team Talk as Java Admin</a></p>
    <p><a href="@ViewBag.Link_a1">Run Team Talk as A1: @ViewBag.Link_a1</a></p>
    <p><a href="@ViewBag.Link_a2">Run Team Talk as A2: @ViewBag.Link_a2</a></p>
</div>